{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Accueil {% endblock %}

{% block body %}
    <h2>Accueil</h2>

    {{ form_start(filter_form, {'action': path('_list'), 'method': 'get'}) }}
    <div class="filter-container">
        {{ form_row(filter_form.genre) }}
        {{ form_row(filter_form.status) }}
        {{ form_row(filter_form.sortBy) }}
        {{ form_row(filter_form.submit) }}
    </div>
    {{ form_end(filter_form) }}

{% endblock %}