{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .serie-detail-background {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
            url("{{ asset('uploads/backdrops/' ~ serie.backdrop) }}");
        }
    </style>

    <div class="serie-detail-background">
        <a href="{{ path('_list') }}">Retour au catalogue</a>

        <h2>Serie {{ serie.name }}</h2>

        <span>Genre: {{ serie.genres }}</span><br>
        <span>Statut: {{ serie.status }}</span><br>
        <span>{{ serie.firstAirDate|date('d/m/Y') }}</span><br>

        <p>{{ serie.overview }}</p>

        <ul>
            {% for season in serie.seasons %}
                <li>{{ season.number }} - {{ season.firstAirDate|date('d/m/Y') }} - {{ season.overview }}</li>
            {% endfor %}
        </ul>

        <a href="{{ path('_update', { id:serie.id }) }}" class="btn btn-primary">Editer</a>
        &nbsp;
        <a href="{{ path('_delete', { id : serie.id, token : csrf_token('delete'~serie.id)}) }}"
           class="btn btn-danger"
           onclick="return confirm('Êtes-vous sûr ??')">Supprimer cette série</a>


{#        <form action="{{ path('_delete', { id : serie.id }) }}" method="post" style="display:inline-block">#}
{#            <input type="hidden" name="_token" value="{{ csrf_token('delete'~serie.id) }}">#}
{#            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ??')">Supprimer cette série</button>#}
{#        </form>#}
    </div>


{% endblock %}