{% extends 'base.html.twig' %}

{% block body %}

    <style>
        .serie-detail-background {
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
            url("{{ asset('uploads/backdrops/' ~ serie.backdrop) }}");
        }
    </style>

    <div class="serie-detail-background">
        <a href="{{ path('_list') }}">Retour au catalogue</a>

        <h2>Serie {{ serie.name }}</h2>

        <span>Genre: {{ serie.genres }}</span><br>
        <span>Statut: {{ serie.status }}</span><br>
        <span>{{ serie.firstAirDate|date('d/m/Y') }}</span><br>

        <p>{{ serie.overview }}</p>

        <a href="{{ path('_update', { id:serie.id }) }}" class="btn-primary">Editer</a>
    </div>

{% endblock %}