{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Catalogue de séries {% endblock %}

{% block body %}
    <h2>Catalogue de séries</h2>

    {{ form_start(filter_form, {'action': path('_list'), 'method': 'get'}) }}
    <div class="filter-container">
        {{ form_row(filter_form.genre) }}
        {{ form_row(filter_form.status) }}
        {{ form_row(filter_form.sortBy) }}
        {{ form_row(filter_form.submit) }}
    </div>
    {{ form_end(filter_form) }}

    <section class="pagination-controls">
        {% if page > 1 %}
            <a href="{{ path('_list', {'page' : page - 1}|merge(current_criterias)) }}">Page précédente</a>
        {% endif %}
        {% if page < total_pages %}
            <a href="{{ path('_list', {'page' : page + 1}|merge(current_criterias)) }}">Page suivante</a>
        {% endif %}
    </section>

    <section class="series-list">
        {% for serie in series %}
            <a href="{{ path('_detail', {id : serie.id}) }}">
                <img src="{{ asset('uploads/posters/series/' ~ serie.poster) }}" width="250px" alt="{{ 'Poster de ' ~serie.name }}" loading="lazy">
                    {% for season in serie.seasons %}
                        {{ season.number }}
                    {% endfor %}
            </a>
        {% else %}
            <p>Pas de série</p>
        {% endfor %}
    </section>

{% endblock %}